.App {
  text-align: center;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: 100% 100%;
  padding-top: 5%;
}

/* THE 9 INDIVIDUAL BOXES WITHIN GAME BOARD*/
[box-id] {
  height: 100px;
  width: 75px;
  border: 3px white solid;
  display: flex;
  font-size: 75px;
  justify-content: center;
  align-items: center;
  color: white;
}
.top-left {
  border-top: none;
  border-left: none;
}
.top-middle {
  border-top: none;
}
.top-right {
  border-top: none;
  border-right: none;
}
.middle-left {
  border-left: none;
}
.middle-right {
  border-right: none;
}
.bottom-left {
  border-bottom: none;
  border-left: none;
}
.bottom-middle {
  border-bottom: none;
}
.bottom-right {
  border-bottom: none;
  border-right: none;
}

/* GAME STATUS */
.turn-indicator {
  font-size: 50px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}
.result-indicator {
  font-size: 50px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

/* RESET BUTTON */
.btn {
  width: 150px;
  height: 75px;
  font-size: 20px!important;
  margin-top: 20px;
}

/* DISABLES CLICKING ONCE GAME IS FINISHED */
[disabled] {
  pointer-events: none;
}

/* FLASH ANIMATION IF AN ALREADY CLICKED BOX IS CLICKED AGAIN */
[flash='yesFlash'] {
  animation-name: flash;
   animation-duration: .2s;
   animation-timing-function: linear;
   animation-iteration-count: 8;
   animation-direction: alternate;
   animation-play-state: running;
}
@keyframes flash {
   from {background-color: red; color: black;}
   to {background-color: black; color: red;}
}